@import url('https://fonts.googleapis.com/css?family=Noto+Sans:100,200,300,400,500,600,700&display=swap');
.tennis-size{
    
    height: 100vh;
    
   
}
.tennis-image {
    background-image: url("../assets/pictures/tennis-generic.jpg");
    background-color:bisque;
     -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    background-repeat: no-repeat;
}